/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@account-big-name: 'account-big';
@account-big-x: 0px;
@account-big-y: 60px;
@account-big-offset-x: 0px;
@account-big-offset-y: -60px;
@account-big-width: 40px;
@account-big-height: 38px;
@account-big-total-width: 206px;
@account-big-total-height: 199px;
@account-big-image: '../img/sprite.png';
@account-big: 0px 60px 0px -60px 40px 38px 206px 199px '../img/sprite.png' 'account-big';
@account-name: 'account';
@account-x: 44px;
@account-y: 153px;
@account-offset-x: -44px;
@account-offset-y: -153px;
@account-width: 14px;
@account-height: 13px;
@account-total-width: 206px;
@account-total-height: 199px;
@account-image: '../img/sprite.png';
@account: 44px 153px -44px -153px 14px 13px 206px 199px '../img/sprite.png' 'account';
@bag-big-name: 'bag-big';
@bag-big-x: 112px;
@bag-big-y: 0px;
@bag-big-offset-x: -112px;
@bag-big-offset-y: 0px;
@bag-big-width: 51px;
@bag-big-height: 49px;
@bag-big-total-width: 206px;
@bag-big-total-height: 199px;
@bag-big-image: '../img/sprite.png';
@bag-big: 112px 0px -112px 0px 51px 49px 206px 199px '../img/sprite.png' 'bag-big';
@bag-name: 'bag';
@bag-x: 173px;
@bag-y: 109px;
@bag-offset-x: -173px;
@bag-offset-y: -109px;
@bag-width: 20px;
@bag-height: 19px;
@bag-total-width: 206px;
@bag-total-height: 199px;
@bag-image: '../img/sprite.png';
@bag: 173px 109px -173px -109px 20px 19px 206px 199px '../img/sprite.png' 'bag';
@facebook-big-name: 'facebook-big';
@facebook-big-x: 173px;
@facebook-big-y: 38px;
@facebook-big-offset-x: -173px;
@facebook-big-offset-y: -38px;
@facebook-big-width: 15px;
@facebook-big-height: 30px;
@facebook-big-total-width: 206px;
@facebook-big-total-height: 199px;
@facebook-big-image: '../img/sprite.png';
@facebook-big: 173px 38px -173px -38px 15px 30px 206px 199px '../img/sprite.png' 'facebook-big';
@facebook-name: 'facebook';
@facebook-x: 0px;
@facebook-y: 181px;
@facebook-offset-x: 0px;
@facebook-offset-y: -181px;
@facebook-width: 9px;
@facebook-height: 18px;
@facebook-total-width: 206px;
@facebook-total-height: 199px;
@facebook-image: '../img/sprite.png';
@facebook: 0px 181px 0px -181px 9px 18px 206px 199px '../img/sprite.png' 'facebook';
@left-name: 'left';
@left-x: 22px;
@left-y: 153px;
@left-offset-x: -22px;
@left-offset-y: -153px;
@left-width: 12px;
@left-height: 18px;
@left-total-width: 206px;
@left-total-height: 199px;
@left-image: '../img/sprite.png';
@left: 22px 153px -22px -153px 12px 18px 206px 199px '../img/sprite.png' 'left';
@logo-name: 'logo';
@logo-x: 0px;
@logo-y: 0px;
@logo-offset-x: 0px;
@logo-offset-y: 0px;
@logo-width: 102px;
@logo-height: 50px;
@logo-total-width: 206px;
@logo-total-height: 199px;
@logo-image: '../img/sprite.png';
@logo: 0px 0px 0px 0px 102px 50px 206px 199px '../img/sprite.png' 'logo';
@menu-small-name: 'menu-small';
@menu-small-x: 45px;
@menu-small-y: 108px;
@menu-small-offset-x: -45px;
@menu-small-offset-y: -108px;
@menu-small-width: 33px;
@menu-small-height: 30px;
@menu-small-total-width: 206px;
@menu-small-total-height: 199px;
@menu-small-image: '../img/sprite.png';
@menu-small: 45px 108px -45px -108px 33px 30px 206px 199px '../img/sprite.png' 'menu-small';
@menu768-name: 'menu768';
@menu768-x: 88px;
@menu768-y: 108px;
@menu768-offset-x: -88px;
@menu768-offset-y: -108px;
@menu768-width: 33px;
@menu768-height: 30px;
@menu768-total-width: 206px;
@menu768-total-height: 199px;
@menu768-image: '../img/sprite.png';
@menu768: 88px 108px -88px -108px 33px 30px 206px 199px '../img/sprite.png' 'menu768';
@pa-big-name: 'pa-big';
@pa-big-x: 0px;
@pa-big-y: 108px;
@pa-big-offset-x: 0px;
@pa-big-offset-y: -108px;
@pa-big-width: 35px;
@pa-big-height: 35px;
@pa-big-total-width: 206px;
@pa-big-total-height: 199px;
@pa-big-image: '../img/sprite.png';
@pa-big: 0px 108px 0px -108px 35px 35px 206px 199px '../img/sprite.png' 'pa-big';
@pa-name: 'pa';
@pa-x: 173px;
@pa-y: 78px;
@pa-offset-x: -173px;
@pa-offset-y: -78px;
@pa-width: 22px;
@pa-height: 21px;
@pa-total-width: 206px;
@pa-total-height: 199px;
@pa-image: '../img/sprite.png';
@pa: 173px 78px -173px -78px 22px 21px 206px 199px '../img/sprite.png' 'pa';
@plus-big-name: 'plus-big';
@plus-big-x: 98px;
@plus-big-y: 60px;
@plus-big-offset-x: -98px;
@plus-big-offset-y: -60px;
@plus-big-width: 37px;
@plus-big-height: 37px;
@plus-big-total-width: 206px;
@plus-big-total-height: 199px;
@plus-big-image: '../img/sprite.png';
@plus-big: 98px 60px -98px -60px 37px 37px 206px 199px '../img/sprite.png' 'plus-big';
@plus-name: 'plus';
@plus-x: 145px;
@plus-y: 85px;
@plus-offset-x: -145px;
@plus-offset-y: -85px;
@plus-width: 11px;
@plus-height: 11px;
@plus-total-width: 206px;
@plus-total-height: 199px;
@plus-image: '../img/sprite.png';
@plus: 145px 85px -145px -85px 11px 11px 206px 199px '../img/sprite.png' 'plus';
@right-name: 'right';
@right-x: 0px;
@right-y: 153px;
@right-offset-x: 0px;
@right-offset-y: -153px;
@right-width: 12px;
@right-height: 18px;
@right-total-width: 206px;
@right-total-height: 199px;
@right-image: '../img/sprite.png';
@right: 0px 153px 0px -153px 12px 18px 206px 199px '../img/sprite.png' 'right';
@search-big-name: 'search-big';
@search-big-x: 50px;
@search-big-y: 60px;
@search-big-offset-x: -50px;
@search-big-offset-y: -60px;
@search-big-width: 38px;
@search-big-height: 38px;
@search-big-total-width: 206px;
@search-big-total-height: 199px;
@search-big-image: '../img/sprite.png';
@search-big: 50px 60px -50px -60px 38px 38px 206px 199px '../img/sprite.png' 'search-big';
@search-name: 'search';
@search-x: 145px;
@search-y: 60px;
@search-offset-x: -145px;
@search-offset-y: -60px;
@search-width: 15px;
@search-height: 15px;
@search-total-width: 206px;
@search-total-height: 199px;
@search-image: '../img/sprite.png';
@search: 145px 60px -145px -60px 15px 15px 206px 199px '../img/sprite.png' 'search';
@twitter-big-name: 'twitter-big';
@twitter-big-x: 173px;
@twitter-big-y: 0px;
@twitter-big-offset-x: -173px;
@twitter-big-offset-y: 0px;
@twitter-big-width: 33px;
@twitter-big-height: 28px;
@twitter-big-total-width: 206px;
@twitter-big-total-height: 199px;
@twitter-big-image: '../img/sprite.png';
@twitter-big: 173px 0px -173px 0px 33px 28px 206px 199px '../img/sprite.png' 'twitter-big';
@twitter-name: 'twitter';
@twitter-x: 131px;
@twitter-y: 108px;
@twitter-offset-x: -131px;
@twitter-offset-y: -108px;
@twitter-width: 20px;
@twitter-height: 17px;
@twitter-total-width: 206px;
@twitter-total-height: 199px;
@twitter-image: '../img/sprite.png';
@twitter: 131px 108px -131px -108px 20px 17px 206px 199px '../img/sprite.png' 'twitter';
@spritesheet-width: 206px;
@spritesheet-height: 199px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @account-big @account @bag-big @bag @facebook-big @facebook @left @logo @menu-small @menu768 @pa-big @pa @plus-big @plus @right @search-big @search @twitter-big @twitter;
@spritesheet: 206px 199px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
