
@import 'imports/_setting';
@import 'imports/_mixins';
@import 'imports/sprite';
@import 'imports/areset';
@import 'imports/font';
/*--------------icons------------------*/
.icon-account{
	.sprite(@account-big);
	@media screen and (min-width: 768px){
		.sprite(@account);
	}
}
/*--------------grid----------------*/

.row{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}
.col{
	float: left;


}
.container{
	padding:0 2%;
	max-width:970px;
	margin:0 auto;
}
.grid-univers(xs, 2);
@media screen and (min-width: 768px){
	.grid-univers(m, 9);
		
	
}
@media screen and (min-width: 970px){
	.grid-univers(l, 12);
}
/*----------general------------*/
@import 'imports/header';
@import 'imports/banner';
@import 'imports/email';
@import 'imports/info';

.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}

